<a href="https://colab.research.google.com/github/xuy50/IDS706_MiniProj9_YangXu/blob/main/ids706_mini_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Install necessary libraries and initialize a Spark session
!pip install pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
# Since Google Colab doesn't have a built-in `flights` dataset for PySpark, we'll use a workaround.
# Let's load a sample dataset into a PySpark DataFrame. For this example, we'll use the 'flights' dataset from Seaborn, and read it into PySpark.
import seaborn as sns
flights = sns.load_dataset('flights')

In [ ]:
# Convert the Pandas DataFrame to a Spark DataFrame
from pyspark.sql import DataFrame
df = spark.createDataFrame(flights)

In [ ]:
# Show the initial data
df.show()

+----+-----+----------+
|year|month|passengers|
+----+-----+----------+
|1949|  Jan|       112|
|1949|  Feb|       118|
|1949|  Mar|       132|
|1949|  Apr|       129|
|1949|  May|       121|
|1949|  Jun|       135|
|1949|  Jul|       148|
|1949|  Aug|       148|
|1949|  Sep|       136|
|1949|  Oct|       119|
|1949|  Nov|       104|
|1949|  Dec|       118|
|1950|  Jan|       115|
|1950|  Feb|       126|
|1950|  Mar|       141|
|1950|  Apr|       135|
|1950|  May|       125|
|1950|  Jun|       149|
|1950|  Jul|       170|
|1950|  Aug|       170|
+----+-----+----------+
only showing top 20 rows

In [ ]:
# Data Transformation: Filter flights that had more than 100 passengers (for demonstration purposes, as the original dataset doesn't have a 'delay' column)
filtered_flights = df.filter(df["passengers"] > 100)
filtered_flights.show()

+----+-----+----------+
|year|month|passengers|
+----+-----+----------+
|1949|  Jan|       112|
|1949|  Feb|       118|
|1949|  Mar|       132|
|1949|  Apr|       129|
|1949|  May|       121|
|1949|  Jun|       135|
|1949|  Jul|       148|
|1949|  Aug|       148|
|1949|  Sep|       136|
|1949|  Oct|       119|
|1949|  Nov|       104|
|1949|  Dec|       118|
|1950|  Jan|       115|
|1950|  Feb|       126|
|1950|  Mar|       141|
|1950|  Apr|       135|
|1950|  May|       125|
|1950|  Jun|       149|
|1950|  Jul|       170|
|1950|  Aug|       170|
+----+-----+----------+
only showing top 20 rows

In [ ]:
# Register the DataFrame as a temporary view to use Spark SQL
df.createOrReplaceTempView("flights_table")

In [ ]:
# Spark SQL query to find the total passengers for each year
total_passengers_by_year = spark.sql("SELECT year, SUM(passengers) as total_passengers FROM flights_table GROUP BY year ORDER BY year")
total_passengers_by_year.show()

+----+----------------+
|year|total_passengers|
+----+----------------+
|1949|            1520|
|1950|            1676|
|1951|            2042|
|1952|            2364|
|1953|            2700|
|1954|            2867|
|1955|            3408|
|1956|            3939|
|1957|            4421|
|1958|            4572|
|1959|            5140|
|1960|            5714|
+----+----------------+